body {
	margin: 0;
	padding: 0;
	background-color: #2c2a2a;
	color: white;
	font-family: 'Lato', sans-serif;
}

header {
	margin-top: 1em;
	text-align: center;
}

/*=============================================================================*/

a {
	text-decoration: none;
	color: white;
	padding: 2px;
}

a:hover {
	color: lightblue;
}

a:visited {
	color: white;
}

section {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.subcontent {
	margin: 0;
	font-size: 1em;
}

.image {
	margin-left: 3em;
	margin-bottom: 2em;
	margin-top: 2em;
}


.head {
	margin: 0 auto;
	margin-left: 2em;
	margin-top: 1em;
	width: 100%;
	font-size: 3.5em;
}

p {
	margin-left: 4em;
	font-size: 2em;
}

footer {
	/*position: absolute;  ---- this is harder to position
	left: 45%; */
	margin-top: 8em;
	margin-bottom: 2em;
	text-align: center;
	color: darkgray;
}